absl-py==0.13.0
astor==0.8.1
cached-property==1.5.2
dataclasses==0.8
gast==0.5.0
grpcio==1.39.0
h5py==2.10.0
importlib-metadata==4.6.1
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
Markdown==3.3.4
numpy==1.16.0
opencv-python==4.4.0.44
protobuf==3.17.3
PyQt5==5.13.0
PyQt5-sip==12.9.0
PyYAML==5.4.1
scipy==1.5.4
six==1.16.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
